*{
    margin : 0;
    padding: 0;
}

header{
    height: 100px;
    display: flex;
    border-bottom: 2px solid lightgray;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}


#welcome{
    position: absolute;
    font-size: 13px;
    top: 10px;
    left: 170px;
}

#logo{
    height: 80px;
    width: 150px;
    margin: 10px;
}

.pesquisa{
    position: absolute;
    display: flex;
    left: 170px;
    top: 60px;
    border: 2px solid gray;
    border-radius: 3px;
}

.pesquisa input{
    font-size: 12px;
    width: 400px;
    padding-left: 5px;
    border: none;
    outline: none;
}

.btn-pesquisa{
    font-size: 12px;
    padding: 5px;
    border: none;
    color: whitesmoke;
    background-color: gray;
}

.menu-principal ul{
    list-style-type: none;
}

.menu-principal ul li{
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    padding: 0 12px;
    border-right: 1px solid blue;
}

.cart{
    text-align: center;
    position: absolute;
    display: block;
    top: 30px;
    left: 95%;
    text-decoration: none;
    background-color: gray;
    margin-top: 10px;
    padding: 2px;
    color: whitesmoke;
}

.cart p{
    margin: 2px 2px;
}

.menu-principal ul li:last-child{
    border: none;
}

.menu-principal ul li a{
    text-decoration: none;
}

.more-info{
    position: absolute;
    left: 78%;
    top: 50px;
    font-size: 12px;
}

.more-info p{
    margin-bottom: 2px;
}

/**/
.produtos{
    display: grid;
    grid-template-columns: 1fr 2fr; /*repeat(3, 1fr)*/
    grid-gap: 10px;
    margin: 20px 30px;
}

.carousel .carousel-indicators li{
    border-radius: 50%;
    background-color: black;
    width: 6px;
    height: 6px;
    list-style-type: none;
}

.carousel .carousel-control-prev span, .carousel .carousel-control-next span{
    background-color: black;
    border-radius: 20%;
}

.quick{
    border: 1px solid black;
    width: 30%;
    padding: 5px 20px;
    font-size: 12px;
    background-color: whitesmoke;
 }
 

/*#range-info input{
    width: 70px;
    margin-right: 25px;
    margin-bottom: 25px;
}

}

.produtos{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;
}

.quick{
   float: left;
   border-right: 1px solid black;
   border-left: 2px solid black;
   border-top: 2px solid black;
   border-bottom: 1px solid black;
   margin-bottom: 20px;
   width: 18%;
   padding: 5px 20px;
   font-size: 12px;
   background-color: whitesmoke;
}

aside #title{
    text-align: center;
}

.form-pesquisa select{
    display: block;
    margin-bottom: 18px;
    padding: 2px;
    outline: none;
    width: 90%;
}

.form-pesquisa .btn-pesquisa{
    width: 90%;
    margin-bottom: 5px;
}

#carouselExampleIndicators{
    border: 1px solid black;
    float: right;
    width: 80%;
}/*
/**/
.card{
    margin-left: 30px;
    margin-bottom: 20px;
}

.card img{
   padding-top: 10px;
}

.card a{
     font-size: 12px;
     text-decoration: none;
}

.rating{
    font-size: 10px;
}

.rating .fa-solid {
    color: yellow;
}

.rating .fa-regular{
    color: gray;
}

#container{
    margin-left: 0;
    padding-left: 0;
    height: 100%;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;/* repeat(2, 1fr)*/;
    gap:30px;
    padding: 10px;
}

.reviewed{
    grid-column: 2;
    width: 50%;
}

.destaques{
   /* grid-column: 2;
    grid-row: 1;
    height: fit-content;*/
    border: 1px solid black;
}

.destaques img{
    width: 80px;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

.destaques p{
    font-size: 13px;
    font-weight: bold;
}

.destaques a{
    text-decoration: none;
    font-size: 13px;
}

#itens-title{
    text-align: center;
}

.destaque{
    width: 90%;
    margin: 10px auto;
    border-bottom: 1px solid black;
}

.destaque:last-child{
    border: none;
}

#more{
    background-color: gray;
    border: none;
    padding: 3px;
    text-align: center;
    font-size: 13px;
    color: white;
    margin-left: 75%;
}


.news{
    margin-top: 30px;
    border: 1px solid black;
}

.news{
    text-align: left;
    padding: 10px;
    font-size: 13px;
}

.news input{
    width: 100%;
    margin-bottom: 30px;
}

#footer{
    display: inline-block;
    width: 100%;
}

.rodape{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    gap: 10%;
    height: 300px;
    padding-top: 50px;
    background-color: lightgray;
    font-weight: bold;
}

#copyright{
    display: inline-block;
    width: 100%;
    background-color: gray;
    text-align: center;
    color: whitesmoke;
}

footer div h6{
    margin-bottom: 15px;
}

.links a{
    font-size: 12px;
    text-decoration: none;
}

.social-media-icons i{
   cursor: pointer;
   color: darkslategray;
   transition: color 0.3s;
}

.social-media-icons a+a{
    margin-left: 20px;
}

.social-media-icons i:hover{
    color: darkgrey;
}

.fale-conosco p{
    margin-bottom: 0px;
    font-size: 80%;
    color: darkslategray;
}

.fale-conosco a{
    text-decoration: none;
    font-size: 90%;
}

